@charset "UTF-8";
/* CSS Document */
.front{
	position: fixed;
	right: 40px;
}
a{
	text-decoration: none;
	color: red;
}
.th{
	background: rgba(255,255,255,.30);
	border-radius: 15px;
}
.father{
	border-radius: 10px;
}
body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
span{
    color: aquamarine;
    font-style: oblique;
    font-weight: bold ;
}
.copyright{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: red;
	bottom: 0px;
	position: fixed;
	left: 500px;
	right: 500px;
	word-wrap: break-word;
}
 .tips{
	position: fixed;
    bottom: 0px;
	right: 20px;
}
.tips1{
    position: fixed;
    bottom: 0px;
    right: 10px;
}
.photo{
	position: fixed;
    bottom: 550px;
    left: 10px;
}
.tips2{					
    position: fixed;
    bottom: 0px;
    left: 10px;
}
.body{
	background: rgba(229,100,115,.70);
	border-radius: 20px;
	width: 420px;
	height: 650px;
}
.body_2{
	background: rgba(229,100,115,.70);
	border-radius: 20px;
	width: 420px;
	height: 570px;
}
.text input[type="text"]{
	background: rgba(255,255,255,.60);
	border-radius: 20px;
	border: 0px;
	height: 30px;
	width: 200px;
	align-content: center;
	text-align: center;
}
.text textarea{
    background: rgba(255,255,255,.60);
	border-radius: 15px;
	border: 0px;
}
.text input[type="submit"]{
	background: rgba(255,255,255,.60);
	border-radius: 15px;
	border: 0px;
}
.text input[type="reset"]{
	background: rgba(255,255,255,.60);
	border-radius: 15px;
	border: 0px;
}
.prize{
	color: #FF0004;
	font-size: 50px;
}
.discount{
	color: #DA181B
}
.payNow{
	background: rgba(61,131,246,.60);	
	border-radius: 15px;
	border: 0px;
	color: rgba(255,255,255,1.00)
}

.blood{
	position: fixed;
	left: -50px;
	top: 60px;
}
.today{
	position: fixed;
	left: 40px;
	top: 120px;
}
.movie{
	color: aliceblue;
}
.jump{
	display:inline-block;
	animation:bounce 3s infinite;
}@keyframes bounce{0%,100%{transform:translateY(25%);animation-timing-function:cubic-bezier(0.8,0,1,1)}50%{transform:translateY(0);animation-timing-function:cubic-bezier(0,0,0.2,1)}}